<h2 id='title'>Welcome to Advanced Ember Training</h2>

{{! Uncomment these routes as we add them to the app. }}
{{!#link-to "card-entry"}}Credit Card Component{{!/link-to}} |
{{!#link-to "state-entry"}}Typeahead Component{{!/link-to}} |
{{!#link-to "oneplaylist.songs"}}Songs List{{!/link-to}}

{{outlet}}
